.App {
  text-align: center;
}

.files, .button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.button-container input, button {
  border-radius: 5px;
  border-width: 1px;
  outline: none;
  padding: 8px;
}

.file-item {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.file-item .name-col {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
}

.file-item.header p {
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.file-item .size, .category {
  font-weight: bold;
  margin: 0;
  width: 200px;
}

.modal {
  animation: fade-up .5s ease;
  background-color: #fff;
  border-color: rgba(0, 0, 0, .5);
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
  margin: 60px auto;
  max-width: 550px;
  min-width: 320px;
  overflow: initial;
  outline: none!important;
  position: relative;
  padding: 20px;
  width: 100%;
}

.modal form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.modal form label {
  margin: 10px auto;
  width: 80%;
}

.modal form input {
  display: block;
  padding: 8px;
  margin: 10px 0;
  width: 100%;
}

.modal form button {
  margin: 0 auto;
  max-width: 200px;
}